<div>
    <h1>Birth Control</h1>
    <a href="/sexualhealth">Sexual Health Home Page</a> 
    <%- dataPoint1 %>
    <%- dataPoint2 %>
    <%- dataPoint3 %>
    <%- dataPoint4 %>
    <%- dataPoint5 %>
    <%- dataPoint6 %>
    <%- dataPoint7 %>
    <%- dataPoint8 %>
    <%- dataPoint9 %>
    <%- dataPoint10 %>
    <%- dataPoint11 %>
    <%- dataPoint12 %>
</div>