<div>
<h1>Chlamydia and Gonorrhea</h1>
<a class="link-dark" href="/sexualhealth">Sexual Health Home Page</a> 
<%- dataPoint1 %>
<%- dataPoint2 %>
<%- dataPoint3 %>
<%- dataPoint4 %>
<%- dataPoint5 %>
</div>