<div>
    <h2>Encounter with <%= encounter.partnerName %> on <%= encounter.date %> </h2> 


    <div class="profile" id="show_encounter">
        <div>
            <h4>Encounter Notes:</h4>
            <p>
             <%= encounter.note %>
            </p>
        </div>
        <!-- if protection then have protection notes show up -->
        <% if (encounter.protection) { %>
            <div>
                <h4>
                    Did you use protection?
                </h4>
                <p>
                    <%= encounter.protection %>
                </p>
            </div>
       <% } %>
        <!-- if penetration field is filled out then render penetration to show up -->
       <% if (encounter.penetration) { %>
        <div>
            <h4>
                If there was penetration, what type?
            </h4>
            <p>
                <%= encounter.penetration %>
            </p>
        </div>
       <% } %>
                  
    </div>
    
    <div>
        <button type="button" class="btn btn-outline-dark link-dark">
            <a class="link-dark" href="/encounters/edit/<%= encounter.id %>"> Edit </a>
        </button>
        <form method="POST" action ="/encounters/<%=encounter.id%>/?_method=DELETE">
            <button type="button" class="btn btn-outline-dark link-dark">
                <input type="submit" value="delete">
            </button>
        </form>
    </div>
    
    <button type="button" class="btn btn-outline-dark link-dark">
        <a class="link-dark" href="/encounters">Go Back to All Encounters</a>
    </button>
    
</div>
